div{
	width: 100%;
}

.row{
	padding-left: 15px;
}

.top_ret{
	padding-left: 15px;
}

.dropdown-content_tbl{
	display:          none;
	top:              15px;
	position:         absolute;
	background-color: #F3F3F3;
	box-shadow:       0px 8px 16px 0px rgba(0,0,0,0.2);
	padding:          12px 16px;
	z-index:          0;
}

.dropdown:hover .dropdown-content_tbl {
	float:     		  right;	
	display:   		  block;
	background-color: #F3F3F3;
	position: 		  absolute;
	min-width: 		  115px;
	max-width: 		  115px;
	z-index: 		  1;
}

.ret{
	padding-left:   15px;
	padding-bottom: 25px;
}