body{
	background-color: #FEFEFE;
	width: 	  		  100%;
	margin-top: 	  0;
	margin-left: 	  0;
	margin-bottom: 	  0;
	margin-right: 	  0;
	font-family: 	  'Arial';
}			

h1{
	background-color: #BB2232;
	width: 			  100%;
	border-collapse:  collapse;
	margin-top: 	  0;
	margin-left: 	  0;
	margin-bottom: 	  0;
	margin-right: 	  0;
	padding-top: 	  5px;
	padding-left:     0;
	padding-bottom:   6px;
	padding-right: 	  0;
	text-align: 	  center;
	vertical-align:   middle;
	font-size: 	      70px;
	box-shadow:       0px 7px 12px 9px #EEEEEE; 
}

h3{
	width: 			  100%;
	margin-top: 	  0;
	margin-left: 	  0;
	margin-bottom: 	  0;
	margin-right: 	  0;
	padding-top: 	  5px;
	padding-left: 	  5px;
	padding-bottom:   6px;
	padding-right: 	  5px;
	text-align: 	  center;
	vertical-align:   middle;
}

div{
	padding-top: 	5px;
	padding-left: 	5px;
	padding-bottom: 5px;
	padding-right:  7px;
}

button{
	background-color: #DECEEF;
	width: 			  100%;
	margin-bottom:    5px;
	margin-top:       5px;
	padding-bottom:   5px;
	padding-top:      5px;
	padding-left:     5px;
	padding-right:    5px;  
	font-size: 		  25px;
	border-radius:    10px;
}