.dropdown {
	float:    right;
	position: relative;
	display:  inline-block;
	z-index:  auto;
}

.dropdown-content {
	display:          none;
	top:              17px;
	position:         absolute;
	background-color: #F3F3F3;
	min-width:        60px;
	max-width:        61px;
	box-shadow:       0px 8px 16px 0px rgba(0,0,0,0.2);
	padding:          12px 16px;
	z-index:          0;
}

.dropdown-content_tbl{
	display:          none;
	top:              15px;
	position:         absolute;
	background-color: #F3F3F3;
	min-width:        60px;
	max-width:        61px;
	box-shadow:       0px 8px 16px 0px rgba(0,0,0,0.2);
	padding:          12px 16px;
	z-index:          0;
}

.dropdown:hover .dropdown-content {
	float:   right;
	display: block;
}

.dropdown:hover .dropdown-content_tbl {
	float:   right;
	display: block;
}