body{
    background-color: #FEFEFE;
    margin-top:       0;
    margin-left:      0;
    margin-bottom:    10px;
    margin-right:     0;
    border-collapse: collapse;
    font-family:      'Arial';
    width:            100%;
    height:           100%;
}

h1{
    background-color: #DDDDDD;
    width:            100%;
    margin-top:       0;
    margin-left:      0;
    margin-bottom:    0;
    margin-right:     0;  
    border-top:       1px solid #9B9B9B;
    border-bottom:    1px solid #9B9B9B;              
    text-align:       center;
    vertical-align:   middle;
    font-size:        50px;
    padding-top:      10px;
    padding-bottom:   13px;
    box-shadow:       0px 7px 12px 9px #EEEEEE;                  
}            

form{
    align-content: center;
    text-align:    left;
}

label{
    color:        #000000;
    font-size:    16px;                
    margin:       0;
    padding-left: 5px;
}

.help-block{
    color:          #980422;
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left:   3px;
    margin:         2px;                
    border:         1px solid red;
    font-style:     italic;
}  

div{
    width:        98%;
    padding-left: 5px;
}

input{
    width:        100%;
    text-align:   left;
    padding-left: 3px;
    border-radius: 5px;
    border-color:  #CECECE;
}

.btns{
    padding-left: 15px;
}

button{
    background-color: #DECEEF;
    margin-bottom:    5px;
    margin-top:       5px;
    padding-bottom:   5px;
    padding-top:      5px;
    padding-left:     5px;
    padding-right:    5px; 
    font-size:        15px;
    border-radius:    10px;                          
}