.header{
    width: 			  auto;
    height: 		  50px;
    background-color: #DDDDDD;
    border-collapse:  collapse;
    padding-top:  	  12px;
    padding-bottom:   0;
    float:  		  top;
    text-align: 	  left;
    vertical-align:   middle;
    margin-top: 	  0;
    margin-left: 	  0;
    margin-bottom: 	  0;
    margin-right: 	  0;
}

a:link {
 color: 			 black;
 text-decoration: none;
}

/* visited link */
a:visited {
 color: 			 black;
 text-decoration: none;
}

/* mouse over link */
a:hover {
 color: 			 grey;
 text-decoration: none;
}

/* selected link */
a:active {
 color: 			 white;
 text-decoration: underline;
}

ul{
    width: 			 auto;
    height: 		 auto;
    border-collapse: collapse;
    border-top:      0;
    border-left:     0;
    border-bottom:   0;
    border-right:    0;
    margin-top: 	 0;
    margin-left: 	 0;
    margin-bottom: 	 0;
    margin-right: 	 0;
    list-style-type: none;
    padding-top:  	 0;
}

li{
    display:         inline;
    height: 		 auto;
    border-collapse: collapse;
    border-top:      0;
    border-left:     0;
    border-bottom:   0;
    border-right:    0;
    padding-top:  	 0;
    margin-top: 	 0;
    margin-left: 	 0;
    margin-bottom: 	 0;
    margin-right: 	 0;
}

.hd_link{
    font-size: 	     15px;
    padding-left:    0px;
    padding-right:   0px;
    height: 		 auto;
    border-collapse: collapse;
    border-top:      0;
    border-left:     0;
    border-bottom:   0;
    border-right:    0;
    margin-top: 	 0;
    margin-left: 	 0;
    margin-bottom: 	 0;
    margin-right: 	 0;
}

.con_link{
    font-size:       15px;
    padding-left:    18px;
    padding-right:   5px;
    height: 		 auto;
    border-collapse: collapse;
    border-top:      0;
    border-left:     0;
    border-bottom:   0;
    border-right:    0;
    margin-top: 	 0;
    margin-left: 	 0;
    margin-bottom: 	 0;
    margin-right: 	 0;
}

.usr_link{
    font-size:       15px;
    padding-left:    18px;
    padding-right:   45px;
    float: 		     right;
    height: 		 auto;
    border-collapse: collapse;
    border-top:      0;
    border-left:     0;
    border-bottom:   0;
    border-right:    0;
    margin-top: 	 0;
    margin-left: 	 0;
    margin-bottom: 	 0;
    margin-right: 	 0;
}

.log_link{
    font-size: 	     15px;
    padding-left:    18px;
    padding-right:   45px;
    float: 		     right;
    height: 		 auto;
    border-collapse: collapse;
    border-top:      0;
    border-left:     0;
    border-bottom:   0;
    border-right:    0;
    margin-top: 	 0;
    margin-left: 	 0;
    margin-bottom: 	 0;
    margin-right: 	 0;
}

.reg_link{
    font-size: 	     15px;
    padding-left:    18px;
    padding-right:   15px;
    float: 		     right;
    height: 		 auto;
    border-collapse: collapse;
    border-top:      0;
    border-left:     0;
    border-bottom:   0;
    border-right:    0;
    margin-top: 	 0;
    margin-left: 	 0;
    margin-bottom: 	 0;
    margin-right: 	 0;
}

.phb_link{
    font-size:       15px;
    padding-left:    18px;
    padding-right:   5px;
    height: 		 auto;
    border-collapse: collapse;
    border-top:      0;
    border-left:     0;
    border-bottom:   0;
    border-right:    0;
    margin-top: 	 0;
    margin-left: 	 0;
    margin-bottom: 	 0;
    margin-right: 	 0;
}

.lgt_link{
    font-size:       15px;
    padding-left:    10px;
    padding-right:   5px;
    float:           right;
    height:          auto;
    border-collapse: collapse;
    border-top:      0;
    border-left:     0;
    border-bottom:   0;
    border-right:    0;
    margin-top:      0;
    margin-left:     0;
    margin-bottom:   0;
    margin-right:    0;
}

.allcon_link {
    font-size:       15px;
    padding-left:    10px;
    padding-right:   5px;
    height:          auto;
    border-collapse: collapse;
    border-top:      0;
    border-left:     0;
    border-bottom:   0;
    border-right:    0;
    margin-top:      0;
    margin-left:     0;
    margin-bottom:   0;
    margin-right:    0;
}

.dropdown {
    float:    right;
    position: relative;
    display:  inline-block;
    z-index:  auto;
}

.dropdown-content {
    display:          none;
    top:              17px;
    position:         absolute;
    background-color: #F3F3F3;
    min-width:        60px;
    max-width:        90px;
    box-shadow:       0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:          12px 16px;
    z-index:          0;
}

.dropdown-content_tbl{
   display:          none;
   top:              15px;
   position:         absolute;
   background-color: #F3F3F3;
   min-width:        60px;
   max-width:        61px;
   box-shadow:       0px 8px 16px 0px rgba(0,0,0,0.2);
   padding:          12px 16px;
   z-index:          0;
}

.dropdown:hover .dropdown-content {
    float:   right;
    display: block;
}

.dropdown:hover .dropdown-content_tbl {
    float:   right;
    display: block;
}