h2{
    width:            100%;
    background-color: #DD5634;
    margin-top:       0;
    margin-left:      0;
    margin-bottom:    0;
    margin-right:     0;  
    border-bottom:    1px solid #9B9B9B;              
    text-align:       center;
    vertical-align:   middle;
    font-size:        50px;
    padding-top:      10px;
    padding-bottom:   13px;             
}

.help-block{
    color:          #980422;
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left:   3px;
    margin:         2px;                
    border:         1px solid red;
    font-style:     italic;
}  

div{
    width:        98%;
    padding-left: 0px;
}

.form-group{
    width: 98%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 10px;
}

input{
    width:         100%;
    text-align:    left;
    padding-left:  3px;
    border-radius: 5px;
    border-color:  #CECECE;
}

.p_help{
    padding-left: 115px;
}

.btn{
    padding-left: 15px;
}

button{
    background-color: #DECEEF;
    margin-bottom:    5px;
    margin-top:       5px;
    padding-bottom:   5px;
    padding-top:      5px;
    padding-left:     5px;
    padding-right:    5px;
    font-size:        15px;
    border-radius:    10px;                       
}