.userinfo{
	text-align: center;
	vertical-align: center;
}

.username{
	float: left;
}

.useremail{
	float:  right;
}

.del_info{
	text-align: center;
}

.del_infoPro{
	text-align: center;
}

.dec_links{
	width:  auto;
}

.confirmation{
	float: left;
	padding: 15px;
}

.denial{
	float:  right;	
	padding: 15px;
}