body{
    background-color: #FEFEFE;
    margin-top:       0;
    margin-left:      0;
    margin-bottom:    0;
    margin-right:     0;
    padding-top:      0;
    border-collapse:  collapse;
    font-family:      'Arial';
    width:            auto;
    height:           auto;
}

h1{
    /* width:            100%; */
    background-color: #DDDDDD;
    margin-top:       0;
    margin-left:      0;
    margin-bottom:    0;
    margin-right:     0;  
    border-top:       1px solid #9B9B9B;
    border-bottom:    1px solid #9B9B9B;              
    text-align:       center;
    vertical-align:   middle;
    font-size:        50px;
    padding-top:      10px;
    padding-bottom:   13px; 
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow:       0px 7px 12px 9px #EEEEEE;         
}

.form-group{
    width:        auto;
    padding-left: 15px;
    font-size:    16px;
}

label{
    padding-left: 3px;
    font-size:    16px;
}

input{
    width:         95%;
    text-align:    left;
    border-radius: 5px;
    border-color:  #CECECE;
}

.btns{
    padding-left: 3px;
}

button{
    font-size: 15px;
}