body{
    background-color: #FEFEFE;                  
    margin-top:       0;
    margin-left:      0;
    margin-bottom:    0;
    margin-right:     0;
    padding-left:     0;
    width:            100%;
    text-align:       left;                
    font-family:      'Arial';
}            

h1{
    background-color: #DDDDDD;
    margin-top:       0;
    margin-left:      0;
    margin-bottom:    0;
    margin-right:     0;  
    border-top:       1px solid #9B9B9B;
    border-bottom:    1px solid #9B9B9B;              
    text-align:       center;
    vertical-align:   middle;
    font-size:        50px;
    padding-top:      10px;
    padding-bottom:   13px;
    box-shadow:       0px 7px 12px 9px #EEEEEE;         
}

form{
    align-self: center;
    text-align:    left;
}

div{
   width:        	98%;
   /* align-self:     center; */
   padding-top:  	15px;
   padding-left: 	5px;
   padding-bottom: 5px;
   padding-right: 	5px;
   text-align: 	center;
   vertical-align: middle;
}

input{
   align-self: center;
   font-size:  16px;
}

button{
   background-color: #DECEEF;
   margin-bottom: 	  5px;
   margin-top: 	  5px;
   padding-bottom:   5px;
   padding-top: 	  5px;
   padding-left: 	  5px;
   padding-right: 	  5px;
   font-size:        16px;
   border-radius:    10px; 
}

.newEntry{
    background-color: #DDDDDD;
    padding:          15px;
    border-radius:    10px;    
}

.viCon{
    background-color: #DDDDDD;
    padding:          15px;
    border-radius:    10px;    
}