body{
    background-color: #edecec;
    font-size: 13px;
}

.navbar {
    background-color: #36383c
}

#content-container {
    background-color: #2d2d2d;
    padding: 0 !important
}


@media (min-width: 1200px) {
    .container {
    width: 100%;
    max-width: 1360px
    }
}



#docs-menu{
    max-width: 220px;
    float: left;
}

#docs-menu ul{
    width: 210px;
}

#docs-menu.affix{
    top:0;
    position: fixed
}

#docs-menu a{
    display: block;
    padding:10px;
    font-weight: 600;
    color: #bababa;
    transition: color .2s
}
#docs-menu > ul > li > a{
    color: #dcdcdc;
}

#docs-menu > .nav > li{
    border: 1px solid transparent
}
#docs-menu > .nav > .active{
    box-shadow: inset 3px 0 0 #2986b8;
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0,0,0,0.05)
}
#docs-menu a:focus{
    background-color: transparent;
}
#docs-menu a:hover{
    background-color: transparent;
    color: #fff;
    transition: color .2s
}


#docs-menu .active > a {
    color: #fff;
}


#docs-menu .list-sub{
    padding-left: 30px;
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;
    transition: max-height .5s;
}

#docs-menu > .nav > .in .list-sub,
#docs-menu > .nav > .active .list-sub{
    max-height: 500px;
    transition: max-height .5s;
}



#docs-menu .list-sub a{
    padding: 5px;
    font-size: 1em;
    font-weight: normal
}




#docs-header{
    padding: 15px 10px;
    background-color: #36383c;
    color: #fff;
    /*position: fixed;
    width: 100%;
    z-index: 99999;*/
}
#docs-header h1{
    padding-left: 200px;
    font-weight: 500
}
.docs-content{
    background-color: #edecec;
    padding: 50px;
    margin-left: 210px
}

.docs-section{
    margin-bottom: 115px;
}


.docs-spy{
    padding: 20px 0 0;
    margin-top: 220px
}

.fol-child{
    padding-left: 30px !important
}
.fol-child2{
    padding-left: 60px !important
}

.divider{
    margin-bottom: 100px;
}


.table-credit{
    table-layout:fixed
}

.table-credit td:nth-child(1){
    width: 220px;
    font-weight: 600;
}

.table-credit td:nth-child(2){
    width: 70px;
    text-align: center;
    font-size: .86m;
    color: rgba(0,0,0,.68);
    font-weight: 600
}
.table-credit td:nth-child(3){
    width: 300px;
}
.prettyprint .tag{
    background-color: transparent;
    border:0;
    border-radius: 0;
    font-size: inherit;
    padding: 0
}
